<div class="alert alert-primary" role="alert"> Asignatura
    <form (ngSubmit)="guardar()">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de la materia</label>
          <input type="email" class="form-control" placeholder="Introduzca nombre de la materia"  [(ngModel)]="name" name="name">
          
        </div>
        
        <div class="form-group">
          <label for="exampleInputEmail1">horario</label>
          <input type="email" class="form-control" placeholder="Introduzca Horario" [(ngModel)]="horario" name="horario">
          
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
</div>